%h1
  Secret area!
%div
  %p
    = link_to('logout', destroy_user_session_path, method: :delete) if user_signed_in?
  %p
    = link_to('change password', edit_user_registration_path) if user_signed_in?
