= form_for(resource, as: resource_name, url: confirmation_path(resource_name), name: 'confirmation-form', class: 'main-contact-form.contact-form') do |f|
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
    %hr

  .form-group
    %button.btn.btn-primary.btn-lg{:name => "submit", :required => "required", :type => "submit"}
      = I18n.t('forms.confirmation_email.resend')