= render('layouts/template_parts/small_title', locals: { title: I18n.t('forms.confirmation_email.title') })

%section#contact-page
  .container
    = render('layouts/template_parts/large_title', locals: { title: I18n.t('forms.confirmation_email.large_title'),
    text: I18n.t('forms.confirmation_email.title_text') })

    .row.contact-wrap
      -# Сообщения об ошибках
      = render('shared/resource_alert_notice')

      -# Запрос Email для отправки подтверждения
      .col-sm-5.col-sm-offset-1
        = render('confirmation_form')
