= render('layouts/template_parts/small_title', locals: { title: I18n.t('gallery.show.title') })

%section#gallery
  .container
    = render('layouts/template_parts/large_title',
    locals: { title: @resource.name.blank? ? I18n.t('gallery.show.large_title') :  @resource.name,
    text: '' })

    .row.contact-wrap
      -# Сообщения об ошибках
      = render('shared/resource_alert_notice')

    =render('show_gallery')
    -#.row
    -#  = link_to I18n.t('gallery.show.add'), new_user_gallery_picture_path(user_id: @resource.user_id, gallery_id: @resource.id)
    -#
