= form_for(resource, as: resource_name, url: registration_path(resource_name), name: 'sign-up-form', class: 'main-contact-form.contact-form') do |f|
  .col-sm-5.col-sm-offset-1
    = render partial: 'left_part_edit_form', locals: { f: f }
  .col-sm-5
    = render partial: 'right_part_edit_form', locals: { f: f }
