<ul id="menu-menu" class="level-1">
  <li>
    <a href="index.html">HOME</a>
    <ul class="sub-menu">
      <li><a href="home-ii.html">Home II</a></li>
      <li><a href="home-iii.html">Home III</a></li>
      <li><a href="home-iv.html">Home IV</a></li>
      <li><a href="home-v.html">Home V</a></li>
      <li><a href="home-vi.html">Home VI</a></li>
      <li><a href="home-vii.html">Home VII</a></li>
      <li class="current_page_item"><a href="home-viii.html">Home VIII</a></li>
      <li><a href="home-ix.html">Home IX</a></li>
      <li><a href="home-x.html">Home X</a></li>
    </ul>
  </li>
  <li>
    <a href="#">SLIDERS</a>
    <ul class="sub-menu">
      <li><a href="revolution-slider.html">Revolution Slider</a></li>
      <li><a href="flexslider-classic.html">Flexslider Classic</a></li>
      <li><a href="flexslider-elegant.html">Flexslider Elegant</a></li>
      <li><a href="elastic.html">Elastic</a></li>
      <li><a href="flash.html">Flash</a></li>
      <li><a href="rotating.html">Rotating</a></li>
      <li><a href="thumbnails.html">Thumbnails</a></li>
      <li><a href="usquare.html">Usquare</a></li>
      <li><a href="polaroid.html">Polaroid</a></li>
    </ul>
  </li>
  <li>
    <a href="#">FEATURES</a>
    <ul class="sub-menu">
      <li><a href="services-module.html">Services Module</a></li>
      <li><a href="blog-modules.html">Blog modules</a></li>
      <li><a href="portfolio-and-video-modules.html">Portfolio and video modules</a></li>
      <li><a href="libra-features.html">Libra features</a></li>
    </ul>
  </li>
  <li>
    <a href="#">PORTFOLIO</a>
    <ul class="sub-menu">
      <li><a href="portfolio-libra.html">Libra</a></li>
      <li><a href="portfolio-pinterest.html">Pinterest</a></li>
      <li><a href="portfolio-slide-detail.html">Slide Detail</a></li>
      <li><a href="portfolio-filterable.html">Filterable</a></li>
      <li><a href="portfolio-2-columns.html">2 Columns</a></li>
      <li><a href="portfolio-3-columns.html">3 Columns</a></li>
      <li><a href="portfolio-4-columns.html">4 Columns</a></li>
      <li><a href="portfolio-big-image.html">Big Image</a></li>
      <li><a href="portfolio-slider.html">Slider</a></li>
      <li><a href="portfolio-project-detail-1.html">Project Detail #1</a></li>
      <li><a href="portfolio-project-detail-2.html">Project detail #2</a></li>
    </ul>
  </li>
  <li>
    <a href="#">PAGES</a>
    <ul class="sub-menu">
      <li>
        <a href="testimonials.html">Testimonials</a></li>
      <li>
        <a href="#">Blog</a>
        <ul class="sub-menu">
          <li><a href="blog-libra-big.html">Libra Big</a></li>
          <li><a href="blog-libra-small.html">Libra Small</a></li>
          <li><a href="blog-elegant.html">Elegant</a></li>
          <li><a href="blog-big-thumbnails.html">Big Thumbnails</a></li>
          <li><a href="blog-small-thumbnails.html">Small Thumbnails</a></li>
          <li><a href="blog-pinterest.html">Pinterest</a></li>
        </ul>
      </li>
      <li>
        <a href="pages-faq.html">FAQ</a>
      </li>
      <li>
        <a href="#">About</a>
        <ul class="sub-menu">
          <li><a href="accordion-style.html">Accordion Style</a></li>
          <li><a href="circle-style.html">Circle Style</a></li>
          <li><a href="u-square-style.html">U-square style</a></li>
        </ul>
      </li>
      <li>
        <a href="error-404.html">Error 404</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#">SHORTCODES</a>
    <ul class="sub-menu">
      <li><a href="shortcodes-alert-box-buttons.html">Alert box &amp; Buttons</a></li>
      <li><a href="shortcodes-charts.html">Charts</a></li>
      <li><a href="shortcodes-icon-section.html">Icon section</a></li>
      <li><a href="shortcodes-media-widgets.html">Media &amp; Widgets</a></li>
      <li><a href="shortcodes-mix-various.html">Mix &amp; Various</a></li>
      <li><a href="shortcodes-table-box-prices.html">Table &amp; Box prices</a></li>
      <li><a href="shortcodes-typography.html">Typography</a></li>
    </ul>
  </li>
  <li>
    <a href="#">CONTACT</a>
    <ul class="sub-menu">
      <li><a href="get-in-touch.html">With MAP</a></li>
      <li><a href="get-in-touch-2.html">Without MAP</a></li>
    </ul>
  </li>
</ul>