<div class="col-sm-6 col-md-4">
  <div class="media services-wrap fadeInDown">
    <div class="pull-left">
      <%= image_tag locals[:image_url], class: 'img-responsive' %>
    </div>
    <div class="media-body">
      <h3 class="media-heading"><%= locals[:title] %></h3>
      <p><%= locals[:text] %></p>
    </div>
  </div>
</div>