<div id="sidebar-features" class="span3 sidebar group">
  <div class="widget-1 widget-first widget widget-icon-text group">
    <img class="imgicon" src="images/emotion_smile.png" alt="" />
    <h3>We&#8217;re on Themeforest</h3>
    <p>15,500 happy customers</p>
  </div>

  <div class="widget-2 widget widget-icon-text group">
    <a href="http://themeforest.net/user/Sara_p/portfolio" title="">
      <img class="imgicon" src="images/themes.png" alt="" />
      <h3>We do nice themes</h3>
      <p>view our portfolio</p>
    </a>
  </div>
  <div class="widget-3 widget widget-icon-text group">
    <a href="http://yithemes.com/" title="">
      <img class="imgicon" src="images/free.png" alt="" />
      <h3>Download free themes</h3>
      <p>Discovery Your Inspiration Themes</p>
    </a>
  </div>
  <div class="widget-4 widget-last widget widget_text">
    <h3>A nice testimonial:</h3>
    <div class="textwidget">
      Thanks for this awesome and totally versatile WP Theme. After working with it for a while,
      I am happy to say that I would always buy this again! The support is simply phenomenal and more
      than willing to help, even when I asked if it was possible to add a certain functionality to the theme.
      All questions were promptly solved within MET timeframes. Thanks yiw and keep up the great work!
      <strong>[ by wowstyle ]</strong>
    </div>
  </div>
</div>