<div class="widget-last widget widget_text">
  <div class="textwidget">
    <div class="socials-default-small facebook-small default">
      <a href="# " class="socials-default-small default facebook" >facebook</a>
    </div>

    <div class="socials-default-small skype-small default">
      <a href="# " class="socials-default-small default skype" >skype</a>
    </div>

    <div class="socials-default-small linkedin-small default">
      <a href="#" class="socials-default-small default linkedin" >linkedin</a>
    </div>

    <div class="socials-default-small twitter-small default">
      <a href="#" class="socials-default-small default twitter" >twitter</a>
    </div>

    <div class="socials-default-small flickr-small default">
      <a href="#" class="socials-default-small default flickr" >flickr</a>
    </div>

    <div class="socials-default-small rss-small default">
      <a href="#" class="socials-default-small default rss" >rss</a>
    </div>

    <div class="socials-default-small pinterest-small default">
      <a href="#" class="socials-default-small default pinterest" >pinterest</a>

    </div>
  </div>
</div>