<div class="single-slide">
  <div class="slide-img">
    <%= image_tag locals[:image_url], alt: '' %>
  </div>
  <div class="content">
    <%= image_tag 'images/review.png', alt: '' %>
    <p><%= locals[:testiomanial] %></p>
    <h4>- <%= locals[:name] %></h4>
  </div>
</div>