<div id="topbar_login" class="not_logged_in">

  <a class="topbar_login" href="#">
    LOGIN <span class="sf-sub-indicator"></span>
  </a>

  <div id="fast-login" class="access-info-box">
    <form action="#" method="post" name="loginform">

      <div class="form">
        <p>
          <label>
            Username<br/>
            <input type="text" tabindex="10" size="20" value="" name="log" class="input-text" />
          </label>
        </p>

        <p>
          <label>
            Password<br/>
            <input type="password" tabindex="20" size="20" value="" name="pwd" class="input-text" />
          </label>
        </p>

        <a class="align-left lostpassword" href="#" title="Password Lost and Found">
          lost password?
        </a>

        <p class="align-right">
          <input type="submit" tabindex="100" value="Login" name="wp-submit" class="input-submit" />
          <input type="hidden" value="index.html" name="redirect_to" />
          <input type="hidden" value="1" name="testcookie" />
        </p>
      </div>
    </form>
  </div>
</div>