%h3
  = I18n.t('user.show.need_change_profile')
.center
  = link_to(I18n.t('user.show.change'), edit_user_registration_path, class: 'btn btn-success')
%h3
  = I18n.t('user.show.need_mail_confirmation')
.center
  = link_to(I18n.t('user.show.resend_confirmation'), new_confirmation_path(User), class: 'btn btn-success')
