%ul.portfolio-filter.text-center
  %li
    %a.btn.btn-default.active{"data-filter" => "*", :href => "#"} All Works
  %li
    %a.btn.btn-default{"data-filter" => ".bootstrap", :href => "#"} Creative
  %li
    %a.btn.btn-default{"data-filter" => ".html", :href => "#"} Photography
  %li
    %a.btn.btn-default{"data-filter" => ".wordpress", :href => "#"} Web Development
