.widget.archieve
  %h3
    = I18n.t('social_networks')
  .row
    .col-sm-12
      %ul{ class: 'blog_archieve' }
        - locals[:services].each do |service|
          %li
            %i{ class: "fa fa-facebook" }
            = service.provider
            %span{ class: 'pull-right' }
              %i{ class: "fa fa-check" }
