.col-xs-12.col-md-6
  = rc_avatar_field(@user_profile_presenter, :avatar, user_profile_user_url(id: @user_profile_presenter.id))
  .col-xs-12.col-md-6
    = rc_string_field(@user_profile_presenter, :email, user_profile_user_url(id: @user_profile_presenter.id), true)
  .col-xs-12.col-md-6
    = rc_string_field(@user_profile_presenter, :nick_name, user_profile_user_url(id: @user_profile_presenter.id))


.col-xs-12.col-md-6
  = render('social_network_list')
