.col-xs-12.col-md-6
  = rc_avatar_field(@resource, :avatar, user_profile_url(id: @resource.id))
  .col-xs-12.col-md-6
    = rc_string_field(@resource, :email, user_profile_url(id: @resource.id), true)
  .col-xs-12.col-md-6
    = rc_string_field(@resource, :nick_name, user_profile_url(id: @resource.id))


.col-xs-12.col-md-6
  = render('social_network_list')
