- unless @resource.email_confirmed
  .warning
    %h2
      = I18n.t('attention')
    %h3
      = @resource.email_confirmed_message
    .question
      %span.lead
        = I18n.t('user.show.need_mail_confirmation')
      = link_to(I18n.t('user.show.resend_confirmation'), new_confirmation_path(User))
