- unless @resource.user_confirmed?
  .warning
    %h2
      = I18n.t('attention')
    %p
      = I18n.t('user.show.confirm_email', days: @resource.unconfirmed_days_still_available)
    .question
      %span
        = I18n.t('user.show.need_mail_confirmation')
      = link_to(I18n.t('user.show.resend_confirmation'), new_confirmation_path(User))
