//Основные цвета разметки

$normal_text_color: #4e4e4e; // Обычный текст
$header_text_color: #4e4e4e; // Текст для заголовков
$hint_text_color: #989898;   // Цвет текста подписей под полями редактирования
$background_input_field_color: #eae5e5; // Цвет полей ввода формы

$btn_primary_text_color: #fff;    // Цвет текста кнопки primary
$btn_cancel_text_color: #EC5538;  // Цвет текста кнопки cancel
$error_text_color: #EC5538;       // Цвет сообщений об ошибках в полях редактирования

$a_color: #EC5538; // Цвет текста ссылок

$warning_background_color: rgba(255,229,100,.3); // Цвет фона предупреждения
$warning_leftborder_color: #ffe564; // Цвет левой полосы у предупреждения


// Отступы
$red_line: 10px;


