@import 'main_consts';

$size_avatar_x: 100px;
$size_avatar_y: 100px;


/* Аватар и загрузка картинки */

%rc-backgroun-picture {
  /* Картинка через background */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.rc-file-input {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.rc-avatar-image {
  /* Круглая картинка */
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 15px;

  @extend %rc-backgroun-picture;
  width: $size_avatar_x;
  height: $size_avatar_y;
}

.rc-editable-avatar-cover {
  padding: 10px;
}

/* Загрузка картинки */
.rc-image {
  @extend %rc-backgroun-picture;
  background-color: $background_input_field_color;
  // Следующие три строчки и .rc-image:before для квадратного окна во всю ширину предка
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.rc-image:before {
  content: "";
  padding-top: 100%;
  float: left;
}

// Спиннер по центру картинки
%rc-center-spinner {
  text-align: center;
  width: 30%;
  height: 30%;
  margin: 35% 35%;
  overflow: hidden;
}

.rc-image .rc-spinner {
  @extend %rc-center-spinner;
}

.rc-avatar-image .rc-spinner {
  @extend %rc-center-spinner;
}

/* Редактируемый список */
.rc-simple-list {
  margin: 0px;
  padding-top: 10px;
  list-style: none outside none;
  min-height: 100px;
  background-color: $background_input_field_color;

  li {
    list-style-type: none; /* Убираем маркеры */
    height: 40px;
    font-size: 16px;
  }

  li.rc-editable i {
    cursor: pointer;
  }
}

/* Поля редактирования */

.rc-field-hint {
  display: block;
  color: $hint_text_color;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  text-align: left;
}

.rc-field-error {
  display: block;
  color: $error_text_color;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  text-align: left;
}


.rc-editable-field-title h2 {
  display: inline-block;
}

%rc-marker {
  display: inline-block;
  padding-left: 10px;
}

.rc-editable-avatar-cover .rc-fa-edit, .rc-editable-field-title .rc-fa-edit {
  @extend %rc-marker;
  cursor: pointer;
}

.rc-editable-avatar-cover .rc-spinner, .rc-editable-field-title .rc-spinner {
  @extend %rc-marker;
  font-size: 20px;
}