@import 'main_consts';

$size_avatar_x: 100px;
$size_avatar_y: 100px;


/* Аватар и загрузка картинки */
.rc-file-input {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.rc-avatar-image {
  /* Круглая картинка */
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 15px;

  /* Картинка через background */
  background-size: cover;
  width: $size_avatar_x;
  height: $size_avatar_y;
  background-position: center;
  background-repeat: no-repeat;
}

.rc-editable-avatar-cover {
  padding: 10px;
}

/* Поля редактирования */

.rc-field-hint {
  display: block;
  color: $hint_text_color;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  text-align: left;
}

.rc-field-error {
  display: block;
  color: $error_text_color;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  text-align: left;
}


.rc-editable-field-title h2 {
  display: inline-block;
}

%rc-marker {
  display: inline-block;
  padding-left: 10px;
}

.rc-editable-avatar-cover .rc-fa-edit, .rc-editable-field-title .rc-fa-edit {
  @extend %rc-marker;
  cursor: pointer;
}

.rc-editable-avatar-cover .rc-spinner, .rc-editable-field-title .rc-spinner {
  @extend %rc-marker;
  font-size: 20px;
}