<div class="container-inner container-inner_error-message container-inner_error_404-message">
    
    <h1 class="em-code">404</h1>

    <div class="em-text">
    	<h2 class="em-title">Страница не найдена</h2>
        <p>Скорее всего, ссылка устарела или страница была удалена. Возможно вы ошиблись, вводя адрес вручную.</p>
		<p>Если ошибки нет, попробуйте зайти на <a href="/">главную страницу</a> или использовать поиск по сайту &mdash; возможно, вы найдете интересующую вас информацию</p>
    </div>

</div>