<div class="container-inner container-inner_error-message container-inner_error_500-message">
    
	<h1 class="em-code"><%= defined?(error_code) ?  error_code : 500 %></h1>

    <div class="em-text">
    	<h2 class="em-title">Ошибка сервера</h2>
        <p>По неизвестным пока причинам возникла ошибка.<br/> В кратчайшие сроки мы исправим эту проблему.</p>
		<p>Если ошибка повторяется, просим Вас<br/> <%= link_to 'сообщить', feedback_path %> нам</p>
		<!-- <p>А не то к Вам домой придёт этот пришелец и съест все печеньки</p> -->
    </div>

</div>
