.portfolio-item.apps.col-xs-12.col-sm-4.col-md-3.single-work
  .recent-work-wrap
    = cover_image(locals[:image])
    .overlay
      .recent-work-inner
        = link_to url_for(locals[:image]), rel: 'prettyPhoto', class: 'preview' do
          %i.fa.fa-plus