= render('layouts/template_parts/small_title', locals: { title: I18n.t('forms.gallery_edit.title') })

%section#contact-page
  .container
    = render('layouts/template_parts/large_title', locals: { title: I18n.t('forms.gallery_edit.large_title'),
    text: I18n.t('forms.gallery_edit.title_text') })

    .row.contact-wrap
      -# Сообщения об ошибках
      = render('shared/resource_alert_notice')

    = render 'form'
