
.profile_info{
  text-align: center;
}

.profile_info .single-slide{
  background-color: #fff;
  padding: 45px 35px;
  color: #707070;
  font-size: 16px;
  line-height: 26px;
}

.profile_info .single-slide .slide-img{
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 15px;
}

// Вертикальный список строк со ссылками
.three_column_list {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.three_column_list li a {
  color: #989898;
  display: block;
  font-weight: 300;
}

.three_column_list li:first-child {
  padding-top: 0;
}

.bottom-comment {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
}

.warning {
  color: #cb9810;
}
